@import url('https://fonts.googleapis.com/css?family=Damion|Lacquer|Lobster|Viga&display=swap');

.logo { 
    font-family:'Lobster', sans-serif; 
    font-size: 36px;
}

.nav-link {
    font-size: 20px;
}

.navbar-nav a {
  position: relative;
  transform: translateY(0);
  transition: .3s;  
}

.navbar-nav a:hover {
    transform: translateY(-5px);
}

.navbar-nav a:after {
    content: '';
    position: absolute;
    left: 50%; 
    right: 50%;
    bottom: 4px;
    height: 0;
    border-bottom: 2px solid rgb(219, 39, 39);
    transition: .3s;   
}

.navbar-nav a:hover:after {
    left: 10%;
    right: 10%;
}
.nav-item > a:hover {
    color: #bd0303;
}


.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
    color: #F7FE22;
}


